* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: pixle;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

.swal2-title {
  font-family: pixle;
}

body {
  background: black;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

h1 {
  display: block;
  margin: 0 auto;
  font-family: pixle;
  font-size: 3vh;
  color: white;
  text-align: center;
  padding-top: 1vh;
}

img {
  width: 20vh;
  display: block;
  margin: 0 auto;
  padding-bottom: 2vh;
}

.canvasContainer {
  display: flex;
  justify-content: center;
}

canvas {
  border: 0.5vh white solid;
}

.menu {
  margin: 0 auto;
  padding-top: 5vh;
}

.menuTitle {
  font-family: pixle;
  color: white;
  text-align: center;
  font-size: 6vh;
  padding-bottom: 5vh;
}

.bottom {
  padding-top: 5vh;
}

.bottom .button {
  position: relative;
  top: 0;
  width: 25vh;
  height: 2.9vh;
  line-height: 2.9vh;
  margin: 0 auto;
  font-family: pixle;
  font-size: 1.2vh;
  color: white;
  border: 0.5vh white dashed;
  text-align: center;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inputText {
  position: relative;
  top: 0;
  width: 25vh;
  height: 2.9vh;
  line-height: 2.9vh;
  display: block;
  margin: 0 auto;
  font-family: pixle;
  font-size: 1.2vh;
  background: black;
  color: white;
  border: 0.5vh white dashed;
  text-align: center;
  margin-top: 5px;
}

.button {
  position: relative;
  display: block;
  top: 0;
  width: 500px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-family: pixle;
  color: white;
  border: 0.5vh white dashed;
  text-align: center;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  border: 0.5vh yellow dashed;
}

#dropZone {
  position: relative;
  top: 0;
  width: 25vh;
  height: 2.9vh;
  line-height: 2.9vh;
  margin: 0 auto;
  font-family: pixle;
  font-size: 1.2vh;
  color: white;
  border: 0.5vh white dashed;
  text-align: center;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.range {
  position: relative;
  top: 0;
  width: 25vh;
  height: 8.9vh;
  line-height: 2.9vh;
  margin: 0 auto;
  font-family: pixle;
  font-size: 1.2vh;
  color: white;
  border: 0.5vh white dashed;
  text-align: center;
  margin-top: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tr {
  width: 20vh;
}

#tr::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

#range {
  font-family: pixle;
  font-size: 1.5vh;
}

li {
  margin: 10px 0;
}

.imagesC {
  display: inline;
  color: white;
  border: white solid 2px;
  width: 25%;
  text-align: center;
}

.imagesCounterContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 55vh;
  margin-top: 2vh;
}

#levels {
  width: 50%;
  height: 1.875em;
  font-size: 1em;
  background: black;
  color: white;
}

.tableContainer table {
  width: 70%;
  margin: 0 auto;
  border: solid 0 1px;
  font-family: pixle;
  font-size: 1.2vh;
  color: black;
  border-spacing: 0;
  border-collapse: collapse;
}

.tableContainer td {
  border: 0.3vh dashed black;
}

.tableContainer tr {
  height: 4vh;
}